<mat-tab-group>
    <mat-tab label="First">
        <mat-card-content>
    <mat-card-title>
      <h1>Cadastrar</h1>
    </mat-card-title>
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Descrição">
    </mat-form-field>
    <mat-card-actions>
      <button  mat-raised-button color="primary"  >Cadastrar</button>
      <button  mat-raised-button color="primary" >Cancelar</button>
    </mat-card-actions>
</mat-card-content>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
